{% extends 'base.html.twig' %}

{% block css_page %}<link rel="stylesheet" href="{{ asset('/styles/compte.css') }}">{% endblock %}

{% block header_background %}url('{{  asset('media/Images_compte/image Header compte.jpg') }}'){% endblock %}
{% block header_text %}Chaque geste compte,<br/> remercions la nature{% endblock %}

{% block body %}

    <main class="section-compte padding">

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

        <div class="list-compte-menu">
            {% include 'account/_menu.html.twig' %}
        </div>
        <div>
            <section class="padding">
                {{ form_start(modifyPwd, {
                    'attr' : {
                        'class' : 'form-modifier-password'
                    }
                }) }}
                <h2 class="form-modifier-password-title">Modification de mon mot de passe</h2>
                {{ form_end(modifyPwd) }}
            </section>
        </div>

    </main>



{% endblock %}